@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #111318;
}

@font-face{
  font-family: eightbit;
  font-weight: 400;
  src: url("/EightBit.ttf")
}

@font-face {
  font-family: notosans;
  font-weight: 300;
  src: url("/fonts/NotoSans-Light.ttf");
}

@font-face {
  font-family: notosans;
  font-weight: 400;
  src: url("/fonts/NotoSans-Regular.ttf");
}

@font-face {
  font-family: notosans;
  font-weight: 500;
  src: url("/fonts/NotoSans-SemiBold.ttf");
}

@font-face {
  font-family: notosans;
  font-weight: 700;
  src: url("/fonts/NotoSans-Bold.ttf");
}
